body {
    margin: 60px auto;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    width: 70%;
}

/*  No corpo do texto, sae con punto gordo*/
ul li {
  font-size: 1em;
  color: #333333;
}

nav ul, footer ul {
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li{
    display: inline;
    margin-right: 40px;
}
footer ul li {
    display: inline;
    padding: 10px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .6em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

figure {
  float: center;
  margin: 10px 10px 10px 0;
}
/*ol {
  font-size: 0.7em
  font-family:'Serif';
}
*/

span {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

img {
  border: 10px solid transparent;
  padding: 15px;
  border-image-width: 10px;
}

/*ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
*/
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 10;
    border:2px solid #FFA500;
}

th{
    border:2px solid #FFA500;
}

td{
    border:1px solid 	#FFA500;
}
