body {
    margin: 60px auto;
    line-height: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    width: 70%;
}

/*  No corpo do texto, sae con punto gordo*/
ul li {
  color: #333333;
}
/*  */
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li{
    font-size: 1em;
    display: inline;
    margin-right: 40px;
}
footer ul li {
    display: inline;
    padding: 10px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .6em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Serif';
}
h2 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: chocolate;
}
h3 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
img {
  border: 10px solid transparent;
  padding: 15px;
  border-image-width: 10px;
}

img.dereita {
  style="float: right;" alt="bits" height="256px" 
  float: right;
  height: 256px;
  width: 25
}

figure {
  float: center;
  margin: 10px 10px 10px 0;
}
/*ol {
  font-size: 0.7em
  font-family:'Serif';
}
*/

span {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}


/*ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
*/


pre code {
  font: 2em;
  font-family: "Courier New", monospace;
  color: #52595d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 5px 3px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 10;
    border:2px solid #FFA500;
}

th{
    border:2px solid #FFA500;
}

td{
    border:1px solid 	#FFA500;
}
