
<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorML"></script>
	<script async defer src="https://hypothes.is/embed.js"></script>

	<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
			<!--<<link rel="shortcut icon" type="image/x-icon" href="i-favicon.ico">-->
</head>
<body>
		<a href="/index.html"><img src="/imaxes/logo.png" alt="i-rochiño" /></a>
		<hr>
		<nav>
    		<ul>
						<li><a href="/organizar/indexsom.html">Anotacións de Sistemas Operativos </a></li>
						<li><a href="/organizar/indexmontaxe.html">Anotacións de Hardware </a></li>
						<!--<li><a href="/planificar">Anotacións de Planificación </a></li>-->

						<!--<li><a href="/blog">Blog </a></li>-->
    		</ul>
		</nav>
		<hr>
		<div class="container"><!-- /.container -->
				<br>
	    	{{ content }}
				<br>

		</div><!-- /.container -->
		<footer class="footer">
			<ul>
				<li>
				<a href="http://irocho.wordpress.com" class="social-icon"><i class="fa fa-wordpress fa-3x"></i></a></li>
				<li>
				 <a href="https://medium.com/@irocho" class="social-icon"><i class="fa fa-medium fa-3x"></i></a></li>
				 <li>
 			 <a href="https://github.com/irocho" class="social-icon"><i class="fa fa-github fa-3x"></i></a></li>
			 <li>
			 <a href="http://irocho.slideshare.com" class="social-icon"><i class="fa fa-slideshare fa-3x"></i></a></li>

			 	<li>
				 <a href="https://twitter.com/_irocho" class="social-icon"><i class="fa fa-twitter fa-3x"></i></a></li>
			 	<li>
			 <a href="mailto:irocho.profe@gmail.com" class="social-icon"><i class="fa fa-envelope fa-3x"></i></a></li>
			 <li>
				 <a href="/about" class="social-icon"><i class="fa fa-id-card fa-3x"></i></a></li>
		 </ul>
		 <a href="https://github.com/irocho/irocho.github.io/wiki">Como fun facendo esto </a>
		</footer>
	</body>
</html>
