
<!DOCTYPE html>
<html>
	<head>
	<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<img src="/imaxes/logo.png" alt="" />
		<hr>
		<nav>
    		<ul>
        		<li><a href="irocho.wordpress.com">Páxina en wordpress de i-rochiño </a></li>
	        	<li><a href="https://medium.com/@irocho">Páxinas de idiomas</a></li>
        		<li><a href="/cv">CV</a></li>
        		
    		</ul>
		</nav>
		<hr>
		<div class="container">

    	{{ content }}
		<br>
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://github.com/irocho/irocho.github.io/wiki">wiki</a></li>
        		<li><a href="https://github.com/irocho">github</a></li>
        		<li><a href="http://irocho.github.io/blog/atom.xml">Subscribirse con RSS</a></li>
        		<li><a href="/about">Quen somos</a></li>
			<li><a href="mailto:irocho.profe@gmail.com">correo electrónico</a></li>
			<li><a href="/blog">Blog estático</a></li>
			</ul>
		</footer>
	</body>
</html>
