
<!DOCTYPE html>
<html>
	<head>
	<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	</head>
	<body>
		<img src="/imaxes/logo.png" alt="" />
		<hr>
		<nav>
    		<ul>
						<li><a href="/som">Anotacións de Sistemas Operativos </a></li>
						<li><a href="/montaxe">Anotacións de Montaxe </a></li>
						<li><a href="https://github.com/irocho/irocho.github.io/wiki">Como fun facendo esto </a></li>
						<li><a href="/blog">Blog </a></li>
    		</ul>
		</nav>
		<hr>
		<div class="container"><!-- /.container -->
				<br>
	    	{{ content }}
				<br>
		</div><!-- /.container -->
		<footer class="footer">
			<ul>
				<li>
				<a href="http://irocho.wordpress.com" class="social-icon"><i class="fa fa-wordpress fa-3x"></i></a></li>
				<li>
				 <a href="https://medium.com/@irocho" class="social-icon"><i class="fa fa-medium fa-3x"></i></a></li>
				 <li>
 			 <a href="https://github.com/irocho" class="social-icon"><i class="fa fa-github fa-3x"></i></a></li>
			 <li>
			 <a href="http://irocho.slideshare.com" class="social-icon"><i class="fa fa-slideshare fa-3x"></i></a></li>

			 	<li>
				 <a href="https://twitter.com/_irocho" class="social-icon"><i class="fa fa-twitter fa-3x"></i></a></li>
			 	<li>
			 <a href="mailto:irocho.profe@gmail.com" class="social-icon"><i class="fa fa-envelope fa-3x"></i></a></li>
			 <li>
				 <a href="/about" class="social-icon"><i class="fa fa-id-card fa-3x"></i></a></li>
		 </ul>
		</footer>
	</body>
</html>
